// include ../blocks/header/header.pug
// include ../blocks/footer/footer.pug

-
  loadAssets = function(file) {
    const req = require.context(
      "../assets/",
      true, // Load files recursively. Pass false to skip recursion.
      /^\.\/.*\.(svg|jpg|png)$/ // Match files ending with .md.
    );
    if (file.indexOf('.svg') !== -1) {
      return req(file).symbol;
    }
    return req(file);
  }
block vars
doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href='./favicon.ico', rel='shortcut icon', type='image/x-icon')
    if (page && page.meta && page.meta.title)
      .title= page.meta.title
    each css in htmlWebpackPlugin.files.css
      link(rel='stylesheet', href=css)
    if (htmlWebpackPlugin.files.extracted && htmlWebpackPlugin.files.extracted.css)
      each css in htmlWebpackPlugin.files.extracted.css
        link(rel='stylesheet', href=('../' + css.file), media=css.query)

  body
    .page
      // +header(headerData)
      block content
    // +footer(footerData)
    
    each js in htmlWebpackPlugin.files.js
      script(type='text/javascript', src=js, async, defer)
