extends /layouts/main.pug

include /core/container/core-container.pug

block vars
  - var page = require('@source/data/pages/index.json');

block content
  // тут подключаются миксины которые нужны на странице.
  // Обращение к данным через JSON подключенный в начале страницы.
  // Пример получения данных

  .block
    .block__title!= page.title
    .block__title.testbtn тест 2
    +core-container
      .block__part!= page.part.title
